.body{
  background-color: white;
}

.scollContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.scollContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-sections-container {
  height: 100%;
  overflow: hidden;
}

.section {
  height: 100%;
  display: none;
  scroll-behavior: smooth;
}

/* Afficher seulement la première section */
.section:first-child {
  display: block;
}

button{
  border-bottom: 0.8px solid var(--border-border-primary, #050505);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
