.body{
  background-color: white;
}


.td{
  height: 25%;
}



.scollContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.scollContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-sections-container {
  height: 100%;
  overflow: hidden;
}

.section {
  height: 100%;
  display: none;
}

/* Afficher seulement la première section */
.section:first-child {
  display: block;
}